[Desktop Entry]
Version=1.0
Terminal=false
Icon=/usr/share/pixmaps/googledocs.png
Type=Application
Categories=Office
Exec=google-docs-online
Name=Google Docs
GenericName=Google Docs
Comment=With Google Docs, you can write, edit, and collaborate wherever you are.
Keywords=office;web;internet;docs;documents;forms;sheets;slides;word;excel;powerpoint;online
StartupNotify=true
